.image-dec{
 
    background-position: 50%;
    background-size: cover;
    height:40rem ;
    width: 100%;
    

}
.img-text{
    color:white;
    font-family: Poppins, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1em;
    --mdb-text-opacity: 1;
    margin-top: -430px;
    margin-left: 110px;
}
.img-text2{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
    margin-left: 110px;
    
 
}
.shop-btn{
    margin-left: 130px; 
    
}
MDBBtn:hover{
    background-color: white;
}