

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    /* z-index: 1;
    top: 0;
    left: 0; */
    background-color: #111;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-top: 40px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
 .logoutBtn{
  margin-left: 40px;
  margin-top: 300px;
  

 }
 .adminIcon{
  margin-left: 30px;
  font-size: 40px;
 }
 .logoutIcon{
  font-size: 30px;
 }